body {
    background-color:rgb(44, 44, 44);
}

.nav li {
    display:inline;
    margin:25px;
    list-style-type:none;
    font-family:Avenir-Medium;
    font-size:1em;
}

.nav ul {
    text-align:center;
    margin-top:3em;
}

.nav a {
    text-decoration:none;
    color:white;
}

.nav a:hover {
    color:#FFCA72;
    text-decoration:underline;
}

.jumbotron img{
    height:20%;
    width:20%;
    margin-top:80px;
    margin-left:515px;
}

.footer img {
    margin-right: 10px;
	height:40px;
	width:40px;
	color:#FFCA72;
}

.social {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

